<!--<ion-header>-->
  <!--<ion-navbar>-->
    <!--<ion-title>doctors</ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->


<ion-content no-padding>
  <ion-list no-lines>
    <ion-item *ngFor="let doc of doctors" (click)="viewDoctor(doc.id);">
      <ion-avatar item-start>
        <img [src]="doc.img">
      </ion-avatar>
      <h2>{{doc.shortName}}</h2>
      <p>{{doc.type}}</p>
      <button ion-button clear item-end><ion-icon name="ios-arrow-forward-outline"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>

