<!--<ion-header class="z-header">-->
  <!--<ion-navbar>-->
    <!--<ion-tisettingsmenu</ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->


<ion-content no-padding>

  <ion-list>
    <ion-item (click)="viewPage(our_clinic);">
      <h2 class="c2">Our Clinic</h2>
    </ion-item>
    <ion-item (click)="viewPage(our_philosophy);">
      <h2 class="c2">Our Philosophy</h2>
    </ion-item>
    <ion-item (click)="viewPage(smile_gallery);">
      <h2 class="c2">Smile Gallery</h2>
    </ion-item>
  </ion-list>

</ion-content>
