<ion-header class="z-header">
  <ion-navbar>
    <ion-title class="ttu tac">
      Log in
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="form" (submit)="onSubmit()" class="z-pop-a">
    <mat-input-container class="w100p pv5">
      <input formControlName="email" matInput placeholder="Email" type="email">
      <mat-error *ngIf="form.controls.email.invalid && form.controls.email.touched">This is required</mat-error>
    </mat-input-container>
    <mat-input-container class="w100p pv5">
      <input formControlName="password" matInput placeholder="Password" type="password">
      <mat-error *ngIf="form.controls.password.invalid && form.controls.password.touched">This is required</mat-error>
    </mat-input-container>


    <button [ngClass]="{inactive: form.invalid}" type="submit" ion-button color="primary" full class="ttu mn">Log In</button>
  </form>
</ion-content>

