<ion-tabs (ionChange)="transition($event);onTabChange($event)">
  <ion-tab [root]="doctors" tabTitle="" tabIcon="doctors"></ion-tab>
  <ion-tab [root]="services" tabTitle="" tabIcon="ios-browsers-outline"></ion-tab>
  <ion-tab [root]="user" tabTitle="" tabIcon="ios-contact-outline"></ion-tab>
  <ion-tab [root]="contacts" tabTitle="" tabIcon="ios-call-outline"></ion-tab>
  <ion-tab [root]="menu" tabTitle="" tabIcon="ios-apps-outline"></ion-tab>
</ion-tabs>
