<!--<ion-header>-->
<!--<ion-navbar>-->
<!--<ion-title>-->
<!--Contact-->
<!--</ion-title>-->
<!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content>
  <div *ngIf="!isOnline" class="z-offline">
    <div class="z-offline-title">
      No internet connection
      <br>
      <span class="fsz12">You need the Internet to view the calendar</span>
    </div>
  </div>


  <div *ngIf="isOnline">
    <div id="map" style="height: 300px;"></div>
  </div>


  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon color="primary" name="ios-clock-outline" class="dibM mr5"></ion-icon>
        <span class="fsz13 dibM">Open from 9 am to 9 pm, 7 days a week.</span>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" name="ios-call-outline" class="dibM mr5"></ion-icon>
        <a href="tel:+971 9 999 9999" class="fsz13 c2 dibM">+971 9 999 9999</a>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" name="ios-mail-outline" class="dibM mr5"></ion-icon>
        <a href="mailto:example@example.com" class="fsz13 c2 dibM">example@example.com</a>
      </ion-item>
      <!--<ion-item>-->
        <!--<ion-icon color="primary" name="ios-albums-outline" class="dibM mr5"></ion-icon>-->
        <!--<a href="http://dubaiskyclinic.com/blog/" target="_blank" class="fsz13 c2 dibM">Our blog</a>-->
      <!--</ion-item>-->
      <ion-item>
        <ion-icon color="primary" name="logo-facebook" class="dibM mr5"></ion-icon>
        <a href="https://www.facebook.com/" target="_blank" class="fsz13 c2 dibM">Our Facebook</a>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" name="logo-twitter" class="dibM mr5"></ion-icon>
        <a href="https://twitter.com/" target="_blank" class="fsz13 c2 dibM">Our Twitter</a>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" name="logo-youtube" class="dibM mr5"></ion-icon>
        <a href="https://www.youtube.com/" target="_blank" class="fsz13 c2 dibM">Our Youtube</a>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-content class="fsz13">
      Emergency Contact No: <a href="tel:050-3840046" class="c2 fw100">050-9999999</a>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="fsz13">
      Day time, after hours and Public holidays Contact No: <a href="tel:050-8064686" class="c2 fw100">050-9999999</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="tac fsz16">
      Make direct appointment to doctor
    </ion-card-header>

    <ion-list no-lines>
      <ion-item *ngFor="let doc of doctors" (click)="viewCalendar(doc)">
        <ion-avatar item-start>
          <img [src]="doc.img">
        </ion-avatar>
        <h2>{{doc.shortName}}</h2>
        <p>{{doc.type}}</p>
        <button ion-button clear item-end><ion-icon name="ios-arrow-forward-outline"></ion-icon></button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
