<!--<ion-header>-->
  <!--<ion-navbar>-->
    <!--<ion-title>-->
      <!--Services-->
    <!--</ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content class="card-background-page">


  <ion-card *ngFor="let item of services" (click)="goToOtherPage(item)">
    <img [src]="item.img"/>
    <div class="card-title">{{item.title}}</div>
  </ion-card>

  <!--<ion-card *ngFor="let item of services">-->
    <!--<img [src]="item.img"/>-->

    <!--<ion-card-content>-->
      <!--<ion-card-title>-->
        <!--{{item.title}}-->
      <!--</ion-card-title>-->
      <!--<p>-->
        <!--{{item.description}}-->
      <!--</p>-->
    <!--</ion-card-content>-->

    <!--<ion-item>-->
      <!--<ion-icon name="ios-clock-outline" style="color: #d03e84"></ion-icon>-->
      <!--{{item.time}}-->
    <!--</ion-item>-->
  <!--</ion-card>-->
</ion-content>
