<ion-header class="z-header">
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="ios-arrow-down" class="fsz30"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <ion-list>
    <ion-item (click)="logOut();">
      <h2 class="c2">Log Out</h2>
    </ion-item>
  </ion-list>

</ion-content>


