:root {
  --c1: #212121;
  --c2: #448AFF;
  --c3: #cbd0d8;
  --c4: #f4f2ea;
  --c5: #E64A19;
}

.cw {
  color: #fff !important;
}
.c1{
  color: var(--c1);
}
.c2{
  color: var(--c2);
}

.inactive-hr {
  pointer-events: none;
  opacity: 0.5;
  background: #bc8585;
  border: none !important;
}

.z {
  &-header{
    .toolbar-background {
      background: color($colors, primary) !important;
    }
    .button-inner{
      color: white;
    }
    .toolbar-title{
      color: white;
    }
  }

  &-wp {
    &-a {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
    }
  }

  &-btn {
    &-o{
      background: none;
      border: none;
    }

    &-back{
      position: absolute;
      left: 0;
      top: 0;
      font-size: 20px;
      padding: 10px 15px;
    }

    &-a {
      position: relative;
      display: inline-block;
      color: white;
      border-radius: 25px;
      padding: 0;
      width: 35px;
      font-size: 14px;
      font-weight: 100;
      text-align: center;
      border: none;
      cursor: pointer;
      transition: all 100ms linear;

      &-day{
        font-size: 14px;
      }

      &-week{
        font-weight: 100;
        font-size: 12px;
      }

      &-mun {
        position: absolute;
        right: -2px;
        top: -2px;
        background: white;
        color: var(--c2);
        border-radius: 50%;
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 10px;
      }

      &.active {
        font-weight: bold;
        padding: 5px 0;
      }
    }
  }

  &-offline {
    position: relative;
    height: 100%;
    &-a {
      position: relative;
    }

    &-title {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      font-weight: 100;
      text-align: center;

      &-a {
        font-size: 20px;
        font-weight: 100;
        padding: 80px 0;
        text-align: center;
      }
    }
  }

  &-svg{
    display: inline-block;
    vertical-align: middle;
    svg{
      width: 25px;
      height: 25px;
    }

    &-a{
      svg, path{
        width: 40px;
        height: 40px;
        fill: #CACACA;
      }

      &.logo{
        svg, path{
          width: 35px;
          height: 35px;
        }
      }

      &.active{
        path{
          stroke: #448AFF;
          stroke-width: 5;
          fill: #448AFF;
          stroke-dasharray: 500;
          stroke-dashoffset: 500;
          animation: line 2s linear infinite;
        }
      }


      &.blue{
        svg, path{
          fill: #448AFF;
        }
      }
    }

    &.white{
      svg{
        fill: white;
        stroke: #000000;
        stroke-width: 2px;
      }
    }

    &.gray{
      svg{
        fill: rgba(202, 202, 202, 0.6);
      }
    }

    &.blue{
      svg{
        fill: rgba(68, 138, 255, 0.6);
      }
    }
  }

  &-sidenav{
    height: 100%;
    //padding-bottom: 57px;
  }
}
@keyframes line {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 1500;
  }
}
