// material //////////////////////////////////////////////////////////////
@import "node_modules/@angular/material/theming";
@include mat-core;
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);
// REWRITE = material //////////////////////////////////////////////////////////////
.mat {
  &-input {
    &-ripple {
      background-color: var(--c2);
    }

    &-invalid {
      .mat-input {
        &-placeholder {
          color: #f44336;
        }
        &-ripple {
          background-color: #f44336;
        }
      }
    }

    &-container {
      &.mat-focused {
        .mat-input {
          &-placeholder {
            color: var(--c2);
          }
          &-ripple {
            background-color: var(--c2);
          }
        }
      }
    }
  }

  &-select {
    &:focus:not(.mat-select-disabled) .mat-select {
      &-trigger {
        color: var(--c2) !important;
      }
      &-underline {
        height: 2px;
        background-color: var(--c2) !important;
      }
    }
  }

  &-option.mat-selected {
    color: var(--c2) !important;
  }


  &-form-field-label-wrapper {
    height: 30px !important;
  }
}




// angular-calendar //////////////////////////////////////////////////////////////
@import "node_modules/angular-calendar/scss/angular-calendar.scss";
// REWRITE = angular-calendar //////////////////////////////////////////////////////////////
.cal {
  &-day-view {
    .cal-hour:not(:last-child) .cal-hour-segment {
      //border: none;
    }

    .cal-event.cal-ends-within-day,
    .cal-event.cal-starts-within-day {
      border-radius: 0;
      border: none !important;
      line-height: 20px;
    }

    .cal-hour:nth-child(odd) {
      background-color: #f4f4f4 !important;
    }

    .cal-hour:nth-child(even) {
      background-color: #ffffff !important;
    }

    .cal-event-container {
      //width: calc(100% - 50px) !important;
      //margin-left: 50px !important;

      &:not(:last-child) {
        border-bottom: 1px solid #fff;
      }
    }

    .cal-time {
      width: 50px !important;
    }

    .cal-event.cal-ends-within-day,
    .cal-day-view .cal-event.cal-starts-within-day {
      line-height: 1;
    }
  }

  &-event-title {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    white-space: normal;
  }
}




// REWRITE = ionic //////////////////////////////////////////////////////////////
.button {
  &.close {
    background: none !important;
    color: #C21400 !important;
  }
  &.add {
    background: none !important;
    color: var(--c2) !important;
  }
}

ion{
  &-icon {
    font-size: 2.2em;
  }

  &-footer {
    background: white;
    border-top: 1px solid #448AFF;
  }

  &-nav{
    .scroll-content{
      padding-bottom: 57px !important;
    }
  }
}

.toolbar-background {
  //background: #211709 !important;
  border-color: color($colors, primary) !important;
}

.loading-wrapper {
  padding: 0 !important;
  border-radius: 15px !important;
  img{
    height: 100px;
  }
}

ion-title, .toolbar-title {
  padding: 0 !important;
}

.loading-content{
  background: #fff;
  border-radius: 5px;
}

// REWRITE = google map //////////////////////////////////////////////////////////////
.gmnoprint:not(.gm-bundled-control) {
  display: none;
}

.gm-bundled-control .gmnoprint {
  display: block;
}

a[href^="http://maps.google.com/maps"] {
  display: none !important
}

a[href^="https://maps.google.com/maps"] {
  display: none !important
}

a[href^="https://www.google.com/maps"] {
  display: none !important
}
