<!--<ion-header>-->
  <!--<ion-navbar>-->
    <!--<ion-title class="ttu" color="primary">doctor-article</ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->


<ion-content no-padding>
  <button back class="z-btn-back">
    <ion-icon color="primary" name="ios-arrow-back"></ion-icon>
  </button>



  <div *ngIf="doc">
    <img [src]="doc.img" class="w100p"/>

    <ion-card>
      <ion-card-content>
        <!--<ion-card-title>-->
          <!--{{doc.fullName}}-->
        <!--</ion-card-title>-->
        <!--<h4>{{doc.type}}</h4>-->
        <!--<h5>{{doc.credo}}</h5>-->
        <p [innerHtml]="doc.text"></p>
      </ion-card-content>

      <button ion-button color="primary" full class="ttu mn" (click)="viewCalendar()">Make an appointment</button>


      <ion-list *ngIf="doc.email">
        <ion-item>
          <ion-icon name="ios-mail-outline" color="primary" item-start></ion-icon>
          <span class="fsz12">{{doc.email}}</span>
        </ion-item>
      </ion-list>
    </ion-card>


    <ion-card *ngIf="doc.experience">
      <ion-card-header>
        Experience
      </ion-card-header>

      <ion-card-content>
        {{doc.experience}}
      </ion-card-content>
    </ion-card>


    <ion-card *ngIf="doc.education">
      <ion-card-header>
        Education
      </ion-card-header>

      <ion-card-content>
        {{doc.education}}
      </ion-card-content>
    </ion-card>


    <ion-card *ngIf="doc.hobbies">
      <ion-card-header>
        Hobbies and Interests
      </ion-card-header>

      <ion-card-content>
        {{doc.hobbies}}
      </ion-card-content>
    </ion-card>


    <ion-card *ngIf="doc.personal">
      <ion-card-header>
        Personal
      </ion-card-header>

      <ion-card-content>
        {{doc.personal}}
      </ion-card-content>



      <ion-card-header *ngIf="doc.gallery.length">
        Gallery
      </ion-card-header>
      <ion-slides>
        <ion-slide *ngFor="let i of doc.gallery">
          <img [src]="i" alt="" style="height: 400px;display: inline-block;">
        </ion-slide>
      </ion-slides>
    </ion-card>
  </div>
</ion-content>


