<ion-nav #nav [root]="rootPage"></ion-nav>


<ion-footer>
  <ion-row align-items-center justify-content-center>
    <ion-col class="tac">
      <button (click)="setRootPage(doctors);getAnimationDirection(0)" class="z-btn-o">
        <span [ngClass]="{'blue active': isActivePage(doctors)}" [inlineSVG]="'i/icon/logo.svg'" class="z-svg-a logo white"></span>
      </button>
    </ion-col>
    <ion-col class="tac">
      <button (click)="setRootPage(services);getAnimationDirection(1)" class="z-btn-o">
        <span [ngClass]="{'blue': isActivePage(services)}" [inlineSVG]="'i/icon/services.svg'" class="z-svg-a white"></span>
      </button>
    </ion-col>
    <ion-col class="tac">
      <button (click)="setRootPage(user);getAnimationDirection(2)" class="z-btn-o">
        <span [ngClass]="{'blue': isActivePage(user) || isActivePage(login)}" [inlineSVG]="'i/icon/user.svg'" class="z-svg-a white"></span>
        <!--<span [ngClass]="{'blue': !isActivePage(user)}" [inlineSVG]="'./i/icon/user_a.svg'" class="z-svg-a white"></span>-->
      </button>
    </ion-col>
    <ion-col class="tac">
      <button (click)="setRootPage(contacts);getAnimationDirection(3)" class="z-btn-o">
        <span [ngClass]="{'blue': isActivePage(contacts)}" [inlineSVG]="'i/icon/contacts.svg'" class="z-svg-a white"></span>
      </button>
    </ion-col>
    <ion-col class="tac">
      <button (click)="setRootPage(menu);getAnimationDirection(4)" class="z-btn-o">
        <span [ngClass]="{'blue': isActivePage(menu)}" [inlineSVG]="'i/icon/more.svg'" class="z-svg-a white"></span>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>

