<ion-header class="z-header">
  <ion-navbar>
    <ion-buttons left>
      <!--<button (click)="toggleNav()" [style.color]="sideNav._opened ? '#ade4ff' : '#f4f2ea'">-->
      <button (click)="settingsPop()">
        <ion-icon name="ios-settings-outline" color="light"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="ttu tac">
      <span>{{user.name || 'name'}} {{user.surname || 'surname'}}</span>
    </ion-title>

    <ion-buttons end>
      <button (click)="menuPop()">
        <ion-icon name="md-menu" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img [src]="user.profile_img || './assets/i/icon/user.png'">
      </ion-avatar>
      <h2>{{user.name || 'name'}} {{user.surname || 'surname'}}</h2>
      <p>{{user.email || 'email'}}</p>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-3 no-padding></ion-col>
        <ion-col col-6 no-padding class="tac">
          <span *ngIf="!colorsInfo">Your teeth</span>
          <span *ngIf="colorsInfo">About colors</span>
        </ion-col>
        <ion-col col-3 no-padding class="tar"><mat-slide-toggle [(ngModel)]="colorsInfo"></mat-slide-toggle></ion-col>
      </ion-row>

      <teeth [teeth]="teeth" *ngIf="!colorsInfo"></teeth>

      <ion-list *ngIf="colorsInfo">
        <ion-item no-padding>
          <div item-start style="margin: 10px 10px 10px 0;">
            <b [inlineSVG]="'i/icon/tooth.svg'" class="z-svg white"></b>
          </div>
          <h2>Removed</h2>
        </ion-item>
        <ion-item no-padding>
          <div item-start style="margin: 10px 10px 10px 0;">
            <b [inlineSVG]="'i/icon/tooth.svg'" class="z-svg gray"></b>
          </div>
          <h2>Cured</h2>
        </ion-item>
        <ion-item no-padding>
          <div item-start style="margin: 10px 10px 10px 0;">
            <b [inlineSVG]="'i/icon/tooth.svg'" class="z-svg blue"></b>
          </div>
          <h2>Need to cure</h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="tac">
      Your history
    </ion-card-header>

    <ion-card-content no-padding>
      <ion-list *ngFor="let tooth of teeth">
        <ion-item (click)="toothHistoryPop(tooth)" *ngIf="tooth.history.length > 0" no-padding>
          <div item-start style="margin: 10px;">
            <img [src]="tooth.img" alt="" style="width: 35px;">
          </div>
          <h2>Lorem ipsum dolor.</h2>
          <p>Lorem ipsum dolor sit.</p>
          <button ion-button clear item-end no-margin><ion-icon name="ios-arrow-forward"></ion-icon></button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>





