menu {
  margin: 0;
  padding: 0 10px;
}

.avatar{
  width: 100px;
  margin: 10px auto;
  &-bg{
    border-radius: 50%;
    width: 100px;
    height: 100px;

    display: inline-block;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
