<ion-header class="z-header">
    <ion-toolbar>
        <ion-title>
            <div class="tac cw">
                <span>Settings</span>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="save()" class="w100p">
    <div class="avatar">
      <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]"
             (change)="processWebImage($event)"/>

      <div (click)="getPicture()" [style.backgroundImage]="getProfileImageStyle()" class="avatar-bg"></div>
    </div>
    <div class="tac">
      <button (click)="getPicture()" type="button" mat-raised-button>Change Picture</button>
    </div>



    <div class="ph10">
      <mat-input-container class="w100p pv5">
        <input matInput placeholder="Name" formControlName="name">
      </mat-input-container>
      <mat-input-container class="w100p pv5">
        <input matInput placeholder="Surname" formControlName="surname">
      </mat-input-container>
      <mat-input-container class="w100p pv5">
        <input matInput placeholder="Phone" formControlName="phone">
      </mat-input-container>
      <mat-input-container class="w100p pv5">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="form.controls.email.invalid && form.controls.email.touched">This is required</mat-error>
      </mat-input-container>


      <label class="wp-btw pv10">
        <span [style.opacity]="form.controls['booking_to_calendar'].value ? '1': '0.5'">Add booking to my calendar too</span>
        <mat-slide-toggle formControlName="booking_to_calendar"></mat-slide-toggle>
      </label>
      <label class="wp-btw pv10">
        <span [style.opacity]="form.controls['booking_to_mail'].value ? '1': '0.5'">Send booking on my mail</span>
        <mat-slide-toggle formControlName="booking_to_mail"></mat-slide-toggle>
      </label>
      <label class="wp-btw pv10">
        <span [style.opacity]="form.controls['booking_notifications'].value ? '1': '0.5'">Booking notifications</span>
        <mat-slide-toggle formControlName="booking_notifications"></mat-slide-toggle>
      </label>
    </div>

  </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <div class="tac">
        <button (click)="cancel()" type="button" ion-button color="danger" class="ttu mn">cancel</button>
        <button (click)="save()" [ngClass]="{inactive: form.invalid}" type="button" ion-button color="primary" class="ttu mn">save</button>
      </div>
    </ion-toolbar>
</ion-footer>

