<ion-content>
  <button back class="z-btn-back">
    <ion-icon color="primary" name="ios-arrow-back"></ion-icon>
  </button>

  <img [src]="service.img" class="w100p"/>

  <div class="ph20">
    <h1 ion-text color="secondary">{{service.title}}</h1>
    <div [innerHTML]="service.description"></div>


    <div *ngIf="service.gallery.length">
      <h3>Gallery</h3>
      <ion-slides>
        <ion-slide *ngFor="let i of service.gallery">
          <img [src]="i" alt="" style="display: inline-block;">
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>

