<ion-header class="z-header">
  <ion-navbar>
    <ion-title>
      <div class="z-wp-a wsn">
        <div (click)="setDay(day.id)" *ngFor="let day of week" [ngClass]="{active: day.isActive, inactive: !isOnline}"
             class="z-btn-a">
          <div class="z-btn-a-day">{{day.date | date:'d'}}</div>
          <div *ngIf="day.isActive" class="z-btn-a-mun">{{events.length}}</div>
          <div *ngIf="!day.isActive" class="z-btn-a-week">{{day.date | date:'EEE'}}</div>
        </div>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <!--<img src="./assets/icon/loading.gif" alt="">-->
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div *ngIf="isOnline">
    <mwl-calendar-day-view
      [viewDate]="viewDate"
      [dayStartHour]="8"
      [hourSegments]="6"
      [dayEndHour]="19"
      [refresh]="refresh"
      [locale]="'ca'"
      [events]="events"
      (beforeViewRender)="beforeHrRender($event)"
      (hourSegmentClicked)="addEvent($event.date, $event)">
    </mwl-calendar-day-view>
  </div>


  <div *ngIf="!isOnline" class="z-offline">
    <div class="z-offline-title">
      No internet connection
      <br>
      <span class="fsz12">You need the Internet to view the calendar</span>
    </div>
  </div>
</ion-content>
