<ion-header class="z-header">
  <ion-navbar>
    <ion-title class="ttu">
      our philosophy
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi delectus distinctio ducimus earum excepturi expedita id iure iusto molestiae molestias nulla, porro recusandae similique suscipit totam vitae voluptates!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda debitis dolorem ducimus, error et facilis fugit iste molestiae, nisi nobis non numquam perspiciatis porro qui quidem quod ratione sapiente sed sint tempore ullam unde voluptatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae dolores magni non perspiciatis sit ut vero! Aliquid dolore facere officiis similique voluptatem voluptatibus. Ipsum, nam!</p>

  <div class="fw300 fsz24">Our Goal</div>
  <ul>
    <li><strong class="fsz22">C</strong>lorem ipsum dolor sit amet.</li>
    <li><strong class="fsz22">A</strong>lorem ipsum dolor sit amet.</li>
    <li><strong class="fsz22">R</strong>lorem ipsum dolor sit amet.</li>
    <li><strong class="fsz22">E</strong>lorem ipsum dolor sit amet.</li>
  </ul>
</ion-content>

