<ion-header class="z-header">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="ios-arrow-down" class="fsz30"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <ion-card>
    <ion-item (click)="toothPop()">
      <div item-start>
        <img [src]="tooth.img" alt="" style="width: 35px;">
      </div>
      <h2>Lorem ipsum dolor.</h2>
      <p>Lorem ipsum dolor sit.</p>
      <button ion-button clear item-end no-margin><ion-icon name="ios-arrow-forward" class="fsz30"></ion-icon></button>
    </ion-item>
  </ion-card>





  <ion-card *ngFor="let item of tooth.history">
    <ion-item (click)="viewDoctor()">
      <ion-avatar item-start>
        <img [src]="'./assets/i/doctor/doc.png'">
      </ion-avatar>
      <h2>Dr. A</h2>
      <p>Cosmetic and General Dentist DDS (Germany)</p>
      <button ion-button clear item-end no-margin><ion-icon name="ios-arrow-forward" class="fsz30"></ion-icon></button>
    </ion-item>


    <ion-card-content>
      <p>{{item.description}}</p>
      <p style="text-align: right;font-size: 12px;margin: 10px 0 0;font-weight: 700;">{{item.date | date: 'yMMMMEEEEd'}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
