teeth{
  position: relative;
  display: block;

  svg{
    width: 100%;
    height: auto;
    path {
      fill: rgba(255, 255, 255, 0);
      transition: fill .2s;

      &.removed{
        fill: white;
        stroke: #000000;
        stroke-width: 2px;
      }
      &.cured{
        fill: rgba(202, 202, 202, 0.6);
      }
      &.need2cure{
        fill: rgba(68, 138, 255, 0.6);
      }

      &:hover{
        fill: rgba(0, 0, 0, 0.4);
      }
    }
  }
}



.choose{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
