<ion-header class="z-header">
    <ion-toolbar>
        <ion-title>
            <div class="tac cw">
                <span>Make an appointment</span>


                <!--{{dateStart | date: 'MMM d'}}-->
                <!--at-->
                <!--{{dateStart | date: 'HH:mm'}}-->
                <!--{{dateEnd ? ' - ' + (dateEnd | date: 'HH:mm') : ''}}-->
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card-background-page">
        <ion-card *ngIf="selectedService.img">
            <img [src]="selectedService.img"/>
            <div class="card-title">
                {{dateStart | date: 'short'}} <br>
                at <br>
                {{dateStart | date: 'HH:mm'}}
                {{dateEnd ? ' - ' + (dateEnd | date: 'HH:mm') : ''}}
            </div>
        </ion-card>
    </div>

    <form #f="ngForm" class="mt5 pall15">
        <mat-select [(ngModel)]="selectedService" (change)="onSelectService()" name="massage" placeholder="Service type"
                   required class="w100p mb10">
            <mat-option *ngFor="let service of services" [value]="service">
                {{service.title}}
            </mat-option>
        </mat-select>

        <mat-input-container class="w100p">
            <input [(ngModel)]="add.name" name="name" matInput placeholder="Name" required minlength="2">
        </mat-input-container>

        <mat-input-container class="w100p">
            <input [textMask]="{mask: mask}" [(ngModel)]="add.phone" name="phone" matInput type="text" placeholder="Phone" required/>
        </mat-input-container>

        <mat-input-container class="w100p">
            <input [(ngModel)]="add.email" name="email" matInput placeholder="Email">
        </mat-input-container>

        <mat-input-container class="w100p">
            <textarea [(ngModel)]="add.additional" name="additional" matInput placeholder="Additional info" style="min-height: 60px"></textarea>
        </mat-input-container>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="wp-btw ph30">
            <button (click)="close()" ion-button icon-only class="close">
                <ion-icon name="md-close" color="danger"></ion-icon>
            </button>
            <button (click)="save(f)" [ngClass]="{inactive: f.invalid || !selectedService.title}" ion-button icon-only class="add">
                <ion-icon name="md-checkmark" color="primary"></ion-icon>
            </button>
        </div>
    </ion-toolbar>
</ion-footer>

