<ion-header class="z-header">
  <ion-navbar>
    <ion-title class="ttu">
      our clinic
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <!--<ion-card>-->
    <!--<ion-slides>-->
      <!--<ion-slide *ngFor="let item of passion" (click)="galleryModal(item, passion)">-->
        <!--<img [src]="item">-->
      <!--</ion-slide>-->
    <!--</ion-slides>-->
  <!--</ion-card>-->


  <h5 class="tac c1">
    Dubai Clinic
  </h5>
  <ion-scroll scrollX="true" class="wsn" style="height: 320px;">
    <img *ngFor="let item of photos" [src]="item" alt="" style="height: 320px;max-width: initial;">
  </ion-scroll>
</ion-content>
