<ion-header class="z-header">
  <ion-toolbar>
    <ion-title>
      Tooth #{{tooth.id}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="ios-arrow-down" class="fsz30"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <ion-card>
    <ion-item>
      <div item-start>
        <img [src]="tooth.img" alt="" style="width: 35px;">
      </div>
      <h2>Lorem ipsum dolor.</h2>
      <p>Lorem ipsum dolor sit.</p>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque cumque, facere facilis magni obcaecati praesentium quaerat quis reprehenderit ut. Beatae debitis deserunt distinctio iste omnis possimus quam saepe voluptatibus.
    </ion-card-content>
  </ion-card>

</ion-content>
