<ion-header class="z-header">
  <ion-navbar>
    <ion-title class="ttu">
      smile gallery
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <ion-card>
    <ion-card-header class="fsz20 c1">
      Dental Implants
    </ion-card-header>

    <ion-card-content>
      <div *ngFor="let item of gall; let even = even; let last = last" [ngClass]="{mb40: !even && !last}">
        <h4 *ngIf="even">Before</h4>
        <h4 *ngIf="!even">After</h4>
        <img [src]="item" alt="" class="w100p">
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header class="fsz20 c1">
      Veneers
    </ion-card-header>

    <ion-card-content>
      <div *ngFor="let item of gall; let even = even; let last = last" [ngClass]="{mb40: !even && !last}">
        <h4 *ngIf="even">Before</h4>
        <h4 *ngIf="!even">After</h4>
        <img [src]="item" alt="" class="w100p">
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header class="fsz20 c1">
      Gum Surgery
    </ion-card-header>

    <ion-card-content>
      <div *ngFor="let item of gall; let even = even; let last = last" [ngClass]="{mb40: !even && !last}">
        <h4 *ngIf="even">Before</h4>
        <h4 *ngIf="!even">After</h4>
        <img [src]="item" alt="" class="w100p">
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header class="fsz20 c1">
      Gum Depigmentation
    </ion-card-header>

    <ion-card-content>
      <div *ngFor="let item of gall; let even = even; let last = last" [ngClass]="{mb40: !even && !last}">
        <h4 *ngIf="even">Before</h4>
        <h4 *ngIf="!even">After</h4>
        <img [src]="item" alt="" class="w100p">
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
